.home-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.home-services > article {
  width: calc(100% / 2 - 20px);
  margin: 10px;
  padding: 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-start; */
}

.home-services > article > p {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Số dòng hiển thị tối đa */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.home-services > article > a {
  text-decoration: underline;
}

.home-solutions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.home-solutions > article {
  margin: 10px;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.home-solutions > article:nth-child(2) {
  grid-row: span 2;
}

.home-solutions > article:nth-child(4) {
  grid-row: span 2;
}
