@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  background: linear-gradient(160deg, #003252, #002a2a, #000913);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  background-color: transparent;
}
/* .web {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(250deg, #003252, #002a2a);
} */
footer {
  background-color: transparent;
}
* {
  transition: all 0.3s linear;
}

input,
textarea {
  background-color: rgba(38, 38, 38, 0.8);
}
/* Header */
.gallery-title-header {
  width: calc(100% / 5 - 32px);
  height: 160px;
}
.gallery-img-header {
  width: 100%;
  height: 80px;
}
.gallery-img-header > img {
  width: 50%;
  height: 100%;
  margin: auto;
  object-fit: contain;
}
@media only screen and (max-width: 976px) {
  html {
    font-size: small;
  }
  .gallery-title-header {
    width: calc(100% / 3 - 32px);
    height: 50%;
  }
}
.nav-item {
  transition: all 0.3s ease-out;
}
.nav-item {
  border: none;
}
.nav-link {
  transition: all 0.3s linear;
}
.nav-link:hover {
  color: #00c4e7;
}
.nav-link.hight-light {
  color: #00c4e7;
}
.custom-select-language {
  position: relative;
}
.options-language {
  background-color: rgba(91, 91, 91, 0.2);
  position: absolute;
  top: 100%;
  left: -150%;
  border-radius: 12px;
  animation: Options 0.3s linear;
  z-index: 10;
}
@keyframes Options {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    height: 55.25;
    opacity: 0.1;
  }
  100% {
    height: 115px;
    opacity: 1;
  }
}
@media only screen and (max-width: 976px) {
  .options-language {
    top: 25%;
    left: -115%;
  }
  .custom-select-language > div {
    padding: 12px;
  }
}
.show-nav {
  position: fixed;
  background-color: rgba(91, 91, 91, 0.2);
  color: #fff;
  top: 10%;
  right: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  z-index: 100;
  animation: Show 0.5s linear;
}

@media only screen and (max-width: 976px) {
  .show {
    width: calc(100% / 4 - 32px);
  }
}
@media only screen and (max-width: 480px) {
  .show {
    width: calc(100% / 2 - 32px);
  }
}
.nav-solutions {
  background-color: rgba(176, 176, 176, 0.2);
  padding: 4px 8px;
  border-radius: 16px;
}
.show-nav-solutions {
  position: fixed;
  background-color: rgba(23, 23, 23, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: unset;
  border-radius: unset;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  z-index: 999;
}
.btn-nav-solutions {
  background-color: rgba(176, 176, 176, 0.2);
  padding: 8px 12px;
  border-radius: 12px;
}
.btn-close-nav {
  background-color: #00c4e7;
  color: #000913;
  margin: 12px 12px 12px auto;
  width: 45px;
  height: 39px;
  border-radius: 4px;
}
/* Main */
.services {
  cursor: pointer;
  width: calc(100% / 4 - 64px);
  background: linear-gradient(
    150deg,
    rgba(176, 176, 176, 0.2),
    rgba(103, 102, 102, 0.2)
  );
  margin: 32px;
  border: 2px solid #2d2b2b04;
}
.services.hoverServices {
  background-color: #000913;
  background-image: url('https://cyberciti.1onestrong.com/wp-content/uploads/2023/05/asset-06.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #00c4e7;
  transform: translateY(-15px);
}
.solutions {
  cursor: pointer;
  background: linear-gradient(
    150deg,
    rgba(176, 176, 176, 0.2),
    rgba(103, 102, 102, 0.2)
  );
  width: calc(100% / 3 - 64px);
  margin: 32px;
}
.solutions.hoverSolutions {
  background-color: #000913;
  background-image: url('https://cyberciti.1onestrong.com/wp-content/uploads/2023/05/asset-06.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #00c4e7;
  transform: translateY(-15px);
}
@media only screen and (max-width: 480px) {
  .services {
    width: 80% !important;
    margin: unset;
  }
  .solutions {
    width: 80% !important;
    margin: unset;
  }
}
@media only screen and (max-width: 768px) {
  .services {
    width: calc(50% - 32px);
    margin: 16px auto;
  }
  .solutions {
    width: calc(50% - 32px);
    margin: 16px auto;
  }
}
@media only screen and (max-width: 1368px) {
  .services {
    width: calc(50% - 64px);
    margin: 32px auto;
  }
  .solutions {
    width: calc(50% - 64px);
    margin: 32px auto;
  }
}
.square {
  width: 8px;
  height: 8px;
  background-color: '#183861';
  color: '#183861';
}
.rotate-text {
  transform: rotate(-180deg);
  writing-mode: vertical-lr;
  word-spacing: 8px;
}
.multi-task-content {
  width: calc(100% / 2 - 64px);
  margin: 32px;
  padding: 14px;
}
@media only screen and (max-width: 786px) {
  .multi-task-content {
    width: 80% !important;
    margin: 32px auto;
  }
}

.contact-form-home {
  background: linear-gradient(160deg, #002a2a, #002a2a, #003252);
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 20px -5px #00c4e7;
  z-index: 100;
}

.gallery {
  cursor: pointer;
  transition: all 0.3s linear;
  filter: grayscale(30%);
}
.gallery:hover {
  scale: 1.2;
}
.fa.fa-angle-double-up {
  position: fixed;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 10%;
  right: 3%;
  z-index: 800;
  animation: Scale 0.5s linear;
}
/* Animation */
.Scale {
  animation: Scale 0.5s linear;
}
@keyframes Scale {
  0% {
    scale: 0;
    opacity: 0;
  }
  50% {
    scale: 0.5;
    opacity: 0.2;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
.Sticky {
  animation: Sticky 0.5s linear;
}
@keyframes Sticky {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  50% {
    transform: translateY(-25%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes Show {
  0% {
    height: 0;
    opacity: 0;
  }
  25% {
    height: 32.25px;
    opacity: 0;
  }
  50% {
    height: 64.5;
    opacity: 0.1;
  }
  75% {
    height: 129px;
    opacity: 0.3;
  }
  100% {
    height: 258px;
    opacity: 1;
  }
}
.Right {
  animation: Right 0.5s linear;
}
@keyframes Right {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    transform: translateX(-25%);
    opacity: 0.4;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.Left {
  animation: Left 0.5s linear;
}
@keyframes Left {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  50% {
    transform: translateX(25%);
    opacity: 0.4;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
.Up {
  animation: Up 0.5s linear;
}
@keyframes Up {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  50% {
    transform: translateY(25%);
    opacity: 0.4;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 16px;
  /* box-shadow: 1px 1px 10px 10px #ddd; */
  border: 1px solid #5a8488;
  box-shadow: 1px 1px 20px -5px #00c4e7;
}
.thanks-form {
  height: 86px;
}
.downAlter {
  animation: downAlter 0.5s linear;
}
.hideAlter {
  animation: hideAlter 0.5s linear;
}
@keyframes downAlter {
  0% {
    height: 0;
    opacity: 0;
  }
  50% {
    height: 43px;
    opacity: 0.3;
  }
  100% {
    height: 86px;
    opacity: 1;
  }
}
@keyframes hideAlter {
  0% {
    height: 86px;
    opacity: 1;
  }
  50% {
    height: 43px;
    opacity: 0.3;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

/* Gallery*/
.solutions-report-gallery {
  width: 90%;
  height: 455px;
  margin: auto;
}
.solutions-report-gallery > img {
  background-position: center;
  object-fit: contain;
}

.article {
  width: 100%;
}

.process-ic {
  cursor: pointer;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.process-ic > img {
  /* border-radius: 50%; */
  object-fit: contain;
  background-size: contain;
}
.process-ic:hover {
  background-color: #00c4e7;
  color: #fff;
  scale: 1.2;
}
.process-ic.active {
  background-color: #00c4e7;
  color: #fff;
  scale: 1.2;
}

.fa.fa-angle-left,
.fa.fa-angle-right {
  width: 32px;
  height: 32px;
  margin: 32px 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.fa.fa-angle-left {
  background-color: #999898;
}
.fa.fa-angle-right {
  background-color: #fff;
  color: #999898;
}
.managed-security-service.animated,
.pentest-and-audit.animated,
.iot-system-assessment.animated {
  animation: Right 0.5s linear;
}
.threat-hunting.animated,
.ddos-mitigation.animated,
.application-security.animated {
  animation: Left 0.5s linear;
}

.prev-services {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.prev-services:nth-child(odd) {
  flex-direction: row;
}
.prev-services:nth-child(odd) > div {
  padding: 0 32px;
}
.prev-services:nth-child(even) {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 786px) {
  .prev-services {
    flex-direction: column !important;
  }
}
.nav-services {
  font-size: 16px;
  animation: show-nav-services 0.5s linear;
}

@keyframes show-nav-services {
  0% {
    height: 0;
    opacity: 0;
  }

  50% {
    height: 87px;
    opacity: 0.8;
  }

  100% {
    height: 174px;
    opacity: 1;
  }
}
