.phone-contact,
.phone-mail {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  height: 200px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 25px;
}
.contact {
  position: relative;
  width: 60px;
  height: 60px;
}
.contact-phone-img,
.contact-email-img {
  position: absolute;
  top: 30%;
  left: 30%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  z-index: 5;
}
label {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #215a74;
  margin: 8px 0;
}
input,
textarea {
  background-color: #fff;
  color: #215a74;
  border-radius: 25px;
  padding: 16px;
}
.contact-form {
  background: rgba(128, 206, 215, 1);
  width: 585px;
  height: 837px;
  margin: 200px 0 0 auto;
  padding: 16px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.map-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.map-img > img {
  width: 1000px;
}
@media only screen and (max-width: 1440px) {
  .map-img > img {
    width: 804px;
  }
  .map-info {
    bottom: 50% !important;
  }
}
.map-info {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.5) 100%
    );
  border: 1px solid;

  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );

  width: 513px;
  height: 161px;
  position: absolute;
  bottom: 40%;
  left: 2%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  z-index: 5;
}

.map-info > p {
  margin: 16px 0;
}
