.services-list {
  position: relative;
  height: 482px;
  display: grid;
  align-items: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100%);
  scroll-snap-type: y mandatory;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.services-list::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.services-list::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.services-list > article {
  position: absolute;
  cursor: pointer;
  width: 588px;
  height: 250px;
  margin: auto;
  padding: 24px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  overflow: hidden;
}
.services-list > .hoverServices {
  background-color: #fff;
  color: #003249;
}
.services-list > article > p {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Số dòng hiển thị tối đa */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.services-icon.fa.fa-long-arrow-right {
  position: absolute;
  top: 10%;
  right: 10%;
  color: #003249;
}

.wire-frame-img {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}
