.intro-services-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  height: 340px;
  z-index: -1;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  gap: 40px;
}
.services-list > article {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );

  cursor: pointer;
  width: 368.21px;
  height: 212px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}
.services-list > article:nth-child(odd) {
  margin-right: auto;
}
.services-list > article:nth-child(even) {
  margin-left: auto;
}
.services-list > article > a {
  margin-left: auto;
  text-decoration: underline;
}
.services-list > .hoverServices {
  background-color: #fff;
  color: #003249;
}
.services-list > article > p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.wire-frame-img-1 {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}
.wire-frame-img-2 {
  position: absolute;
  top: 350%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}
.img-process-list {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  border-radius: 25px;
}

.services.fa.fa-long-arrow-right {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 24px;
}

.nav-services {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  gap: 20px;
  color: #f5f5f5;
}

.nav-services > a {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
  width: 382px;
  height: 80px;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
}

.nav-services > .nav-services-active {
  background: #fff;
  color: #003249;
}

.nav-services > a:hover {
  background: #fff;
  color: #003249;
}
.service-detail-list {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 20px;
}
.service-detail-list > div {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
  width: 553px;
  padding: 16px;
  border-radius: 25px;
}

.service-detail-list > div > div > p {
  line-height: 18.78px;
  letter-spacing: 2%;
}

@media only screen and (max-width: 768px) {
  .intro-services-img {
    position: unset;
    top: unset;
    left: unset;
    transform: translate(unset);
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .intro-services-img > img {
    width: 50%;
    margin: auto;
  }
  .services-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 40px;
  }
}
