
.intro-services-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  height: 340px;
  z-index: -1;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;

  gap: 40px;

  gap: 20px;
}
.services-list > article {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );

  cursor: pointer;
  width: 368.21px;
  height: 212px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}
.services-list > article:nth-child(even) {
  margin-left: auto;
}
.services-list > article > a {
  margin-left: auto;
  text-decoration: underline;
}
.services-list > .hoverServices {
  background-color: #fff;
  color: #003249;
}
.services-list > article > p {
  display: -webkit-box;

  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.services-icon.fa.fa-long-arrow-right {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.services-icon.fa.fa-long-arrow-right {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
.services-list {
  position: relative;
  height: 482px;
  display: grid;
  align-items: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100%);
  scroll-snap-type: y mandatory;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.wire-frame-img-1 {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}
.wire-frame-img-2 {
  position: absolute;
  top: 350%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}
.img-process-list {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  border-radius: 25px;
}

.services.fa.fa-long-arrow-right {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 24px;
}

.nav-services {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  gap: 20px;
  color: #f5f5f5;
}


.nav-services > a {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
  width: 382px;
  height: 80px;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

.services-list > article {
  position: absolute;
  cursor: pointer;
  width: 588px;
  height: 250px;
  margin: auto;
  padding: 24px;
  border-radius: 25px;
}

.nav-services > .nav-services-active {
  background: #fff;
  color: #003249;
}

.nav-services > a:hover {
  background: #fff;
  color: #003249;
}
.service-detail-list {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: 20px;
}
.service-detail-list > div {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
  width: 553px;
  padding: 16px;
  border-radius: 25px;
}

.service-detail-list > div > div > p {
  line-height: 18.78px;
  letter-spacing: 2%;
}

.wire-frame-img-1 {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}
.wire-frame-img-2 {
  position: absolute;
  top: 350%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}
.img-process-list {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  border-radius: 25px;
}

.services.fa.fa-long-arrow-right {
.services-list > article > p {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Số dòng hiển thị tối đa */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.services-icon.fa.fa-long-arrow-right {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 24px;
}

.wire-frame-img {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}
